body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 10px;
  margin-bottom: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #007bff;
  width: 0%;
  transition: width 0.3s;
}

.quiz {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.card {
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: transform 0.3s ease-in-out;

}
/* Show only the first card */
.card:not(:first-child) {
  display: none;
}
.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}
.card p {
  font-size: 18px;
  line-height: 1.5;
}
.card.swipe-left {
  transform: translateX(-100%);
}
.card.swipe-right {
  transform: translateX(100%);
}
.hidden {
  display: none;
}

.controls {
  margin: 20px 0;
  display: flex;
  gap: 20px;
}

.controls.hidden {
  display: none;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.reset-btn {
  background-color: #f44336;
}

.reset-btn:hover {
  background-color: #c0392b;
}

.retry-btn {
  background-color: #28a745;
}

.retry-btn:hover {
  background-color: #218838;
}
#noButton, #yesButton {
  font-size: 20px; /* Increase font size */
  padding: 15px 30px; /* Increase padding */
}
.retry-btn.hidden {
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form label {
  font-weight: bold;
}

form input, form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  align-self: center;
}

.glitter-effect {
  animation: glitter 1s infinite;
}

@keyframes glitter {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
  }
}

/* Responsive Styles */
@media (max-width: 600px) {
  .quiz {
    width: 100%;
    height: auto;
  }

  .card {
    padding: 10px;
  }

  .btn {
    padding: 8px 16px;
  }

  form {
    gap: 5px;
  }

  form input, form select {
    padding: 8px;
  }


}